/* components/Atomos/GoogleLoginButton.css */
.google-login-button {
    width: 90%;
    margin-bottom: 8px; /* Aumenta el margen inferior para dar más espacio */
    padding: 8px 20px;
    background-color: #f9fafc;
    color: rgb(12, 12, 12);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;

  }

  .google-login-button

  :window-inactive
  mark 
  
  .google-login-button img {
    width: 20px;
    margin-right: 8px;
  }
  