/* components/Atomos/Logo.css */
.logo-container {
  position: absolute;
  top: 110px;
  right: -650px;
  overflow: hidden; /* Oculta el contenido que se sale del contenedor */
}

.logo-main {
  width: 600px;
  height: 100%;
  animation: rotateMain 5s linear infinite; /* Aplica la animación a la imagen principal */
  transform-origin: center center; /* Establece el punto de transformación en el centro de la imagen */
}

.logo-icon {
  width: 150px; /* Ajusta el tamaño del ícono según sea necesario */
  position: absolute; /* Establece la posición absoluta para el ícono */
  top: 495px; /* Ajusta la posición vertical del ícono hacia arriba */
  right: 10px; /* Ajusta la posición horizontal del ícono hacia la derecha */
}

/* Agrega un nuevo estilo para el contenedor de la nueva imagen */
.nueva-imagen-container {
  position: relative; /* Cambia a posición relativa para que los elementos hijos se posicionen relativamente a este contenedor */
}

@keyframes rotateMain {
  from {
    transform: rotate(0deg); /* Define la rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Define la rotación final */
  }
}


.nueva-imagen {
  position: absolute; /* Establece la posición absoluta para la nueva imagen */
  right: -10px; /* Ajusta la posición horizontal de la nueva imagen según sea necesario */
  z-index: 1; /* Asegura que la nueva imagen esté encima del logo */
  width: 110%; /* Ancho deseado de la imagen */
  height: 100%; /* Altura automática para mantener la proporción */
  top: -15px; /* Ajusta la posición vertical de la nueva imagen */
}
